<?xml version="1.0"?>

<robot name="blue" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find blue_description)/urdf/blue_materials.xacro" /> 
  <xacro:include filename="$(find blue_description)/urdf/blue.gazebo" /> 
  <xacro:include filename="$(find blue_description)/urdf/macros.xacro" />
    
  <xacro:base name="base_link" />
  
  <!--
  <xacro:caster name="caster_link" />
  <xacro:generic_join name="front_caster_join" child="caster_link" origin_xyz="0 0 0"/>
  -->
  
  <xacro:bar name="lidar_bar_link" />
  <xacro:generic_join name="lidar_bar_join" child="lidar_bar_link" origin_xyz="0 0 0.2"/>
  
  <xacro:wheel name="front_right_wheel_link" length="0.1" radius="0.18" />
  <xacro:wheel_join name="front_right_wheel_join" child="front_right_wheel_link" origin_xyz="0.6 0.28 -0.203"/>
  
  <xacro:wheel name="front_left_wheel_link" length="0.1" radius="0.18" />
  <xacro:wheel_join name="front_left_wheel_join" child="front_left_wheel_link" origin_xyz="0.6 -0.28 -0.203"/>
  
  <xacro:wheel name="rear_right_wheel_link" length="0.12" radius="0.203" />
  <xacro:wheel_join name="rear_right_wheel_link_join" child="rear_right_wheel_link" origin_xyz="-0.45 0.31 -0.203"/>
   
  <xacro:wheel name="rear_left_wheel_link" length="0.12" radius="0.203" />
  <xacro:wheel_join name="rear_left_wheel_link_join" child="rear_left_wheel_link" origin_xyz="-0.45 -0.31 -0.203"/>
  
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <xacro:VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points" hz="10" samples="440">
    <origin xyz="0 0 0.4" rpy="0 0 0" />
  </xacro:VLP-16>

</robot>

