<?xml version="1.0" ?>
<launch>
  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find blue_gazebo)/worlds/urban_01_v02.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <include file="$(find blue_description)/launch/spawn.launch">
  </include>

</launch>
